{% extends 'neighbourhoods/base.html' %}

{% block content %}

<div class="" id="home">
    <h3 class="text-info text-center">
        NEIGHBOURHOODS
        <hr />
    </h3>
    </div>
    <div class="row" style="margin: 10px">
    {% for hood in hoods %}
    <div class="col-md-4">
        <!-- Card -->
        <div class="card-group">
        <!-- Card image -->
        <div class="view overlay">
            <img
            class="card-img-top"
            src="{{hood.image.url}}"
            alt="Card image cap"
            height="300px"
            />
            <a>
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">{{hood.name}}</h4>
            <hr />
            <!-- Text -->
            <p class="card-text">{{hood.location}}</p>
            <a
            href="{% url 'single_hood' location=hood.name %}"
            class="btn btn-info"
            >READ MORE</a
            >
        </div>
        </div>
        <!-- Card -->
    </div>
    {% endfor %}
</div>

{% endblock %}


