@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


#brand {
    color: #f5f5f5;
    padding: 10px;
    border-bottom: none;
    font-size: 18px;
    font-weight: 900;
}

#brand:hover {
    border: 2px solid #aa6262;
    color: #aa6262;
    text-decoration: none;
}

.accounts {
    padding: 10px;
    letter-spacing: 1.5px;
    color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.accounts:hover {
    text-decoration: none;
    color: #aa6262;
}

.bg-img{
    background-image: url('../imgs/sample-slide-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
}

.nav-set{
    background-color: #573d57;
}

.btn-pos{
    position: absolute;
    left:30%;
    padding: 20px !important;
    width: 35%;
    outline: none !important;
    border: none;

}

.banner{
    opacity: 0.8;
    background-color: #553c55;
}

.heading{
    color: blue;
}