@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&family=Viga&display=swap');


#brand {
    color: #f5f5f5;
    padding: 10px;
    border-bottom: none;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Viga', sans-serif;
}

#brand:hover {
    border: 2px solid #aa6262;
    color: #aa6262;
    text-decoration: none;
}

.accounts {
    padding: 10px;
    letter-spacing: 1.5px;
    color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Viga', sans-serif;
}

.accounts:hover {
    text-decoration: none;
    color: #aa6262;
}

.bg-img{
    background-image: url('../imgs/sample-slide-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
}
.main {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    font-size: 18px;
}

.signUp{
    background-color: thistle;
    padding: 10px 100px 10px 100px;
    font-family: 'Viga', sans-serif;
    width: 500px;
}

.cont-bg{
    background-color: tomato;
}


.nav-set{
    background-color: #573d57;
    font-family: 'Viga', sans-serif;
}

.btn-pos{
    position: absolute;
    left:30%;
    padding: 20px !important;
    width: 35%;
    outline: none !important;
    border: none;
    color: #000 !important;
    font-size: 20px;
    font-family: 'Viga', sans-serif;
}
.banner{
    opacity: 0.8;
    background-color: #140114;
    height: 82vh;
}

.heading{
    color: #fff;
    padding-top: 50px;
    font-family: 'Viga', sans-serif;
}
.txt{
    color: #fff;
    font-family: 'Viga', sans-serif;
    font-size: 14px;
}